<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/main.css">
  <title>Ordana Checkup Manager</title>
</head>

<body>
  <div id="App-container">
    <!-- #############################  Header -Bereich  ######################################## -->
    <header class="App-header">
      <div class="App-logo"></div>
    </header>
    <!-- #############################  Main -Bereich  ######################################## -->
    <main class="App-main">
      <form action="#" class="App-form form-hardware">

        <div class="kunde-info">
          <h2>- Kunde Info -</h2>
          <div class="auftragErstellungLeft">
            <label for="auftrag">Auftragsnr.:
              <input type="text" id="auftrag" name="auftrag" value="" tabindex="1">
            </label>

            <label for="benutzerName">Anmelde Name:
              <input type="text" id="benutzerName" name="benutzerName" value="" tabindex="4">
            </label>

          </div>

          <div class="auftragErstellungRight">
            <label for="datum">Check Datum:
              <span id="datum"></span>
            </label>

            <label for="benutzerPW">Anmelde Passwort:
              <input type="password" id="benutzerPW" name="benutzerPW" value="" tabindex="5">
            </label>
          </div>
        </div>

        <div id="check-container">
          <div id="hardware-wrapper" class="hardware">
            <h2>- Hardware / Software -</h2>

            <label for="os">Betriebssystem:
              <br />
              <span id="os"></span>
            </label>

            <br>

            <label for="motherBoard">Mother Board:
              <br>
              <span id="motherBoard"></span>
            </label>

            <br>

            <label for="cpu">CPU:
              <br />
              <span id="cpu"></span>
            </label>

            <br>

            <label for="ram">RAM:
              <br />
              <span id="ram"></span>
            </label>

            <br>

            <label for="grafik">Grafik:
              <br />
              <span id="grafik"></span>
            </label>

            <br>

            <label for="laufwerkeName">Laufwerke:
              <br />
              <span id="laufwerkeName"></span>
            </label>

            <br>

            <label for="laufwerke">Partitionen:
              <br />
              <span id="laufwerke"></span>
            </label>
            <br />

            <div id="hardwareBtn">
              <div>Hardware Abrufen</div>
            </div>
            <div id="kunde-save">
              <div>Daten Speichern</div>
            </div>
          </div>
        </div>
  </div>
  </form>
  </main>
  </div>


  <script src="../JS/index.js"></script>
  <script src="../JS/hardware.js"></script>
  <script src="../JS/kunde.js"></script>
</body>

</html>