<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/main.css">
  <title>Ordana Checkup Manager</title>
</head>
<body>
  <div id="App-container">
    <header class="App-header">
      <img class="App-logo" src="../assets/img/logo.png" alt="Ordana Logo">
      <h1>Checkup Manager</h1>
    </header>
    
    <nav class="App-navigation">

    </nav>

    <main class="App-main">

    </main>

    <footer class="App-footer">

    </footer>
  </div>
  
  
  <script src="../JS/index.js"></script>
  <script src="../JS/Database.js"></script>
</body>
</html>