/* 
#########################################################################
##########################     APP - Global     #########################
######################################################################### 
*/

/* 
  Colors:
    Background = #2d2d2d
    linear-gradient = (0deg, rgba(212,231,248,1) -10%, rgb(44, 143, 214) 100%);
    Gold = rgb(226, 192, 141);
*/

html {
  font-family: 'carlito', monospace;
  font-size: 10px;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
}

body::-webkit-scrollbar { 
  display: none;
}

#App-container {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 3em;
  color: rgb(226, 192, 141);
}

label {
  font-size: 2em;
}

p {
  font-size: 1.8em;
}

input {
  border: none;
  background-color: #2d2d2d;
  border-bottom: 1px solid #fff;
  color: #fff;
}



/* 
#########################################################################
##########################     APP - Header     #########################
######################################################################### 
*/

.App-header {
  position: fixed;
  background: linear-gradient(
  0deg, rgba(212,231,248,1) -10%, rgb(44, 143, 214) 100%);
  width: 100%;
  height: 12em;
}


.App-logo {
  background-image: url('../img/ordanaLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70%;
  margin-top: 2em;
}

#closeWindow {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 2em;
  text-align: center;
  line-height: 20px;
}

#fullWindow {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 40px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 2em;
  text-align: center;
  line-height: 17px;
}

#minimizeWindow {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 70px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 2em;
  text-align: center;
  line-height: 10px;
}

/* 
#########################################################################
##########################     APP - Main     ###########################
######################################################################### 
*/

.App-main {
  padding-top: 12em;
}

.kunde-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #fff;
  padding: 10px;
}

.kunde-info > h2 {
  width: 100%;
  text-align: center;
  flex: none;
}

.auftragErstellungLeft {
  margin-left: auto;
  margin-right: 20px;
}

.auftragErstellungLeft label {
  display: block;
  margin-bottom: 20px;
}

.auftragErstellungRight 
{margin-left: 20px;
  margin-right: auto;
}

.auftragErstellungRight label {
  display: block;
  margin-bottom: 20px;
}

.hardware {
  border: 1px solid #fff;
}

.hardware > h2 {
  text-align: center;
}

#cpu {
  border: none;
  background-color: #2d2d2d;
  color: #fff;
}

.laufwerke > p {
  display: inline-block;
}

#check-container {
  display: flex; 
  width: 100%;
  height: auto;
}

#hardware-wrapper {
  width: 50%;
  height: auto;
  border: 1px solid #fff;
  padding: 20px;
}

#scans-wrapper {
  width: 50%;
  height: auto;
  border: 1px solid #fff;
  padding: 20px;
}

.hardDiscInfo {
  margin-left: 20px;
}

.hardDiscName {
  margin-left: 20px;
}

#hardwareBtn {
  cursor: pointer;
  background-color: rgb(226, 192, 141);
  color: #2d2d2d;
  font-size: 1.5em;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 10px 20px;
}

#hardwareBtn > div {
  margin-top: 7px;
  text-align: center;
}

.scans {
  border: 1px solid #fff;
}

.scans > h2 {
  text-align: center;
}

.scans-checkbox > label {
  display: block;
}

#auffäligkeiten {
  display: block;
}

.endkontrolle {
  border: 1px solid #fff;
}

.endkontrolle > h2 {
  text-align: center;
}

.endkontrolle_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; 
}

.col50 {
  width: 50%;
}

.col50 > div {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

#kunde-save {
  cursor: pointer;
  background-color: rgb(226, 192, 141);
  color: #2d2d2d;
  font-size: 1.5em;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 10px 20px;
}

#kunde-save > div {
  margin-top: 7px;
  text-align: center;
}

#pdfCreate {
  cursor: pointer;
  background-color: rgb(226, 192, 141);
  color: #2d2d2d;
  font-size: 1.5em;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 10px 20px;
}

#pdfCreate > div {
  margin-top: 7px;
  text-align: center;
}

#pdfView {
  cursor: pointer;
  background-color: rgb(226, 192, 141);
  color: #2d2d2d;
  font-size: 1.5em;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 10px 20px;
}

#pdfView > div {
  margin-top: 7px;
  text-align: center;
}


/* 
#########################################################################
##########################     APP - Footer     #########################
######################################################################### 
*/

.App-footer {
  height: 80px;
  border: 1px solid #fff;
}