/* 
#########################################################################
##########################     APP - Global     #########################
######################################################################### 
*/

/* 
  Colors:
    Background = #2d2d2d
*/

html {
  font-family: 'carlito', monospace;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
}

#App-container {
  
}


/* 
#########################################################################
##########################     APP - Header     #########################
######################################################################### 
*/

.App-header {
  position: relative;
  width: 100%;
  height: 8em;
  border-bottom: 1px solid #000;
}

.App-header > h1 {
  position: absolute;
  color: #fff;
  font-size: 4em;
  right: 30%;
  top: 0.4em;
  margin: 0;
}


.App-logo {
  position: absolute;
  width: 20em;
  height: auto;
  left: 1em;
  top: 2em;
}

/* 
#########################################################################
##########################     APP - Navigation     #####################
######################################################################### 
*/

.App-navigation {

}

/* 
#########################################################################
##########################     APP - Main     ###########################
######################################################################### 
*/

.App-main {

}

/* 
#########################################################################
##########################     APP - Footer     #########################
######################################################################### 
*/

.App-footer {

}