/* 
#########################################################################
##########################     APP - Global     #########################
######################################################################### 
*/

/* 
  Colors:
    Background = #2d2d2d
*/

html {
  
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
}

#App-container {
  
}


/* 
#########################################################################
##########################     APP - Header     #########################
######################################################################### 
*/

.App-header {

}

.App-header > h1 {
  text-align: center;
  align-items: center;
  color: #fff;
}

/* 
#########################################################################
##########################     APP - Navigation     #####################
######################################################################### 
*/

.App-navigation {

}

/* 
#########################################################################
##########################     APP - Main     ###########################
######################################################################### 
*/

.App-main {

}

/* 
#########################################################################
##########################     APP - Footer     #########################
######################################################################### 
*/

.App-footer {

}