/* 
#########################################################################
##########################     APP - Global     #########################
######################################################################### 
*/

/* 
  Colors:
    Background = #2d2d2d
*/

html {
  font-family: 'carlito', monospace;
  font-size: 10px;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
}

#App-container {}

h2 {
  font-size: 2.5em;
}

label {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}


/* 
#########################################################################
##########################     APP - Header     #########################
######################################################################### 
*/

.App-header {
  position: relative;
  width: 100%;
  height: 8em;
  border-bottom: 1px solid #000;
}

.App-header > h1 {
  position: absolute;
  color: #fff;
  font-size: 4em;
  right: 30%;
  top: 0.4em;
  margin: 0;
}


.App-logo {
  position: absolute;
  width: 20em;
  height: auto;
  left: 1em;
  top: 2em;
}

/* 
#########################################################################
##########################     APP - Main     ###########################
######################################################################### 
*/

.App-main {

}

.kunde-info {
  border-bottom: 1px solid #000;

}

.hardware {
  border-bottom: 1px solid #000;
}

#cpu {
  border: none;
  background-color: #2d2d2d;
  color: #fff;
}

.laufwerke > p {
  display: inline-block;
}

.hardDiscInfo {
  margin-left: 15px;
}

.hardDiscName {
  margin-left: 15px;
}

.scans {
  border-bottom: 1px solid #000;
}

.scans-checkbox > label {
  display: block;
}

#auffäligkeiten {
  display: block;
}

.endkontrolle {
  border-bottom: 1px solid #000;
}



/* 
#########################################################################
##########################     APP - Footer     #########################
######################################################################### 
*/

.App-footer {

}