* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'carlito', monospace;
}

h1 {
  text-align: center;
}

#date {
}

#auftragsnummer {
}

span {
  font-weight: bold;
  font-style: italic;
}

span > p {
  font-weight: 400;
  display: inline-block;
}

.BnPw {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

hr {
  width: 60%;
}

#benutzer {
  float: left;
}

#passwort {
  float: right;
}

.betriebssystem,
.motherboard,
.cpu,
.ram,
.gpuCarts {
  margin-top: 3px;
}

.betriebssystem > h3{
  margin-bottom: 3px;
}


@media print {

  

  #load {
    display: none;
  }

  #drucken {
    display: none;
  }

}